*{
    /*border: 1px solid maroon;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    flex: auto;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #1F2139;
}

.links{
    gap: 5px;
    list-style: none;
    color: rgb(185, 185, 185);
    flex: 0 1 auto;
    margin-left: auto;
    margin-right: 10px;
}

.logoimg{
    height: 70px;
    width: auto;
    /*margin-right: auto;*/
}

ul{
    flex: 1;
    display: flex;
    justify-content: center;
}

.Part.p1{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #467c9f;
    gap: 50px;
    padding: 50px 0px;
    width: 100%;
    flex-wrap: wrap;
}
.title1{
    font-size: 48px;
    font-weight: bolder;
}

.paragraph1{
    font-size: 18px;
}

.b1{
    width: 100px;
    border: solid;
    border-color: aliceblue;
    border-width: 0.5px;
    border-radius: 8px;
    background: #1F2139;
    color: aliceblue;
}

.b1:hover {
    background: #2196F3;
    color: white;
}

img{
    width: 400px;
}

.Lp1{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    flex-wrap: wrap;
}

.Part.p2{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
    justify-content: center; 
    padding: 25px;
    gap: 12px;
}

.title1{
    font-size: 20px;
    font-weight: bolder;
}

.imgP1{
    border-radius: 8px;
}

.mediaContainer{
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px;
}

.pic{
    max-width: 320px;
    max-height: 180px;
    overflow: hidden;
    object-position: bottom;
    border-radius: 8px;
}

.media{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    flex-wrap: wrap;
    align-items: center;
}

.videotxt{
    text-align: center;
}

.Part.p3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 216, 224);
    width: 100%;
    padding: 40px 0px;
}

.containerP3{
    max-width: 600px;
    flex-wrap: wrap;
}
.author{
    text-align: right;
    justify-self: baseline;
    font-weight: 800;
}

.Part.p4{
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    width: 60%;
}

.containerP4{
    display: flex;
    width: 100%;
    background-color: #467c9f;
    border-radius: 8px;
    padding: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.p4 .b1 {
    margin: 30px;
}

.txtp4{
    margin: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex:auto;
    background-color: #1F2139;
    color: white;
    width: 100%;
}

a{
    color: rgb(56, 54, 54);
    text-decoration: none;
    font-weight: 400;
}